.card {
    width: 330px;
    height: 45vh;
    margin: 20px;
}

.top-card {
    height: 85%;
    width: 100%;
    cursor: pointer;
}

.top-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.bottom-card {
    height: 15%;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.bottom-rating {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.card-star {
    color: #FFD700;
    margin-left: 5px;
}