nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav header {
    width: 80%;
}

nav img {
    width: 20%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin-left: 10%;
    height: 7vh;
}

.nav-link {
    font-size: 22px;
    color: white;
}

nav * {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-items ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: White;
}

header a {
    text-decoration: none;
    color: rgb(238, 255, 0);
}